# Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load data

In [2]:
df = pd.read_csv('data/processed/concat.csv')
df

,Description,Category,Amount,Currency
0,-100.00 EUR to Mohammad Umair,Nonbusiness costs,-100.00,EUR
1,invoice 13455101,Transfer,-40.69,EUR
2,-1485.00 EUR to GoCardless,Loans/ Debts,-1485.00,EUR
3,2200.00 EUR to UA Trading Company,Inventory / Equipment,2200.00,EUR
4,"Gulf Groningen Hoendie Groningen, Nl",Nonbusiness costs,-50.00,EUR
...,...,...,...,...
7813,Dk-Ind15.03,Sale of Goods,1278.40,DKK
7814,Dk3dsf15.03,Sale of Goods,1367.28,DKK
7815,Dk3dsf15.03,Sale of Goods,1654.20,DKK
7816,Dk3dsf15.03,Sale of Goods,2525.65,DKK
7817,Dk-Ind15.03,Sale of Goods,4484.85,DKK

# Split test

In [3]:
df_train, df_test = train_test_split(df, test_size=0.1, random_state=10)
display(
    df_train.shape, df_test.shape
    , df_train.head(), df_test.head()
)

(7036, 4)

(782, 4)

,Description,Category,Amount,Currency
7454,Dk-Ind29.03,Sale of Goods,1210.90,DKK
327,B20230618X002HJX000666628738 0030014291298480 ...,Nonbusiness costs,-6.59,EUR
3185,Dk3dsf17.08,Sale of Goods,826.20,DKK
5675,Dk-Ind01.06,Sale of Goods,481.95,DKK
3466,Dk-Ind09.08,Sale of Goods,796.05,DKK

,Description,Category,Amount,Currency
2911,"FACEBK NN4B7FPTK2, fb.me/ads",Marketing and advertising,0.00,DKK
4299,Postering,Shipping & Logistics,-105.00,DKK
769,Clearing: CLEARING-20234416133 (period Apr 202...,Sale of Goods,564.45,EUR
4795,Dk-Ind03.07,Sale of Goods,648.00,DKK
1720,Advertising,Marketing and advertising,0.00,DKK

# Save

In [4]:
df_train.to_csv('data/processed/train.csv', index=False)

In [5]:
df_test.to_csv('data/processed/test.csv', index=False)